.choice li {
    font-size:1rem; 
list-style: none;
text-align: left;
margin-left: 10vw}
b{
    font-size:1rem;
}
/* Hide the sections for getting the result of the java script */
.hidden{
    display:none;
}
#resultButton{
    border-radius: 10px;
    margin-left: 33%;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 4vw;
    
}
article{
    margin: 4%;
}

h1{
    margin: 2%;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 1px #333;
    color:white;}
h2{
    text-align: center;
    text-shadow: 2px 2px 1px #333;
    font-size: 8vw;
    margin: 2%;
    font-weight: bold;
    color:white;}

h3{font-size: 4vw;
    margin: 2%;
    font-weight: bold;}
article img{
    width:96%;
    margin: 2%;}
p{
    text-align:justify;
    margin:2%}