/* *{
    border: solid black 1px
} */
article{ padding: 2%;}

iframe{ 
    margin: 2%;
    width:450px;
    height: 275px;
    
}

h1{
    margin: 2%;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 1px #333;
    color:white;
}
.ratios{
    text-align: center;
    padding: 4%;
    margin: 2%;
}
.brew{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
table {
    border: solid #333 3px;
    width: 100%;}
table * {
    width: 33%;
    border: solid #333 3px;
    text-align: center;
    padding: 1%;   
}